/*
0 - 600: Phone, max-width: 600/16 = 37.5em
600-900: Tablet Portrait
900-1200: Tablet Landscape 
1200 - 1800: normal style 
1800+: big desktop
*/
/*
$breakpoint argument choices 
-phone
-tab-port 
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

header {
  height: 100vh;
  position: relative; }

footer {
  background-color: #031c0d;
  padding: 7rem 0; }

h3 {
  font-size: 3rem;
  padding: 0; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 1rem; } }
  @media (max-width: 56.25em) {
    h3 {
      font-size: 1.5rem; } }
  @media (max-width: 75em) {
    h3 {
      font-size: 2rem; } }

/* Animation with heading 
  0% = from beginning
  100% = completely
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movingLogo {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  /* Unitless values: use this number multiplied
by the element's font size */
  line-height: 1.7;
  color: #F0FFF0; }

/* Heading 1 - Header */
.heading-primary {
  color: #F0FFF0;
  /* Avoid shaking */
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    /* animation name */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /* Delay the animation */
    animation-delay: 0.3s;
    /* how animation displays */
    animation-timing-function: ease-out; }
    @media (max-width: 75em) {
      .heading-primary-main {
        font-size: 5rem;
        line-height: 1.3; } }
    @media (max-width: 56.25em) {
      .heading-primary-main {
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        font-size: 3rem; } }
  .heading-primary-sub {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0;
    animation: moveInUp 1.5s ease-out 0.3s; }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        font-size: 2rem; } }

/* Button  */
/* before and after are the same style */
.btn {
  font-family: "Noto Serif", serif;
  color: #F0FFF0;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem; }
  .btn:link, .btn:visited {
    padding: 1rem;
    display: inline-block;
    /* Using transition to point out which property */
    transition: all 0.2s ease-in-out; }
  .btn-transparent {
    animation: moveInUp 1.5s ease-out 0.3s; }
    .btn-transparent:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 0.5rem 0 #00d7c3 inset, 0 0 1rem 2px #00d7c3;
      border: 3px solid #00d7c3;
      border-radius: 5rem; }
    .btn-transparent:active {
      transform: translateY(-1px);
      box-shadow: 0 0 1rem 0 #00d7c3 inset, 0 0 2rem 2px #00d7c3;
      border: 3px solid #00d7c3;
      border-radius: 5rem; }
  .btn-submit {
    animation: moveInUp 1.5s ease-out 0.3s;
    padding: 1rem;
    color: #F0FFF0;
    background-color: #02ac51;
    border: 3px solid #02ac51;
    border-radius: 5rem; }
  .btn-create-idea {
    color: #333333;
    text-decoration: none;
    font-size: 2.5rem;
    color: #F0FFF0; }
    @media (max-width: 75em) {
      .btn-create-idea {
        font-size: 4rem; } }
    @media (max-width: 56.25em) {
      .btn-create-idea {
        font-size: 6rem; } }
    .btn-create-idea:hover .btn-create-idea-icon {
      color: #00d7c3; }
    .btn-create-idea:hover {
      color: #00d7c3; }

.gonature-about {
  color: #333333;
  height: 100%;
  display: flex; }
  .gonature-about-photo {
    background-image: url(../img/about.jpg);
    background-size: cover;
    height: 100%;
    width: 40%; }
    @media (max-width: 75em) {
      .gonature-about-photo {
        width: 30%; } }
    @media (max-width: 56.25em) {
      .gonature-about-photo {
        display: none; } }
  .gonature-about-text {
    display: flex;
    flex: 1;
    background-color: #def2ff;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    box-sizing: border-box;
    letter-spacing: normal;
    padding-top: 20rem; }
    .gonature-about-text-lb {
      width: 100%;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.18);
      position: relative; }
      .gonature-about-text-lb__dot {
        position: absolute;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 100%;
        background-color: #000;
        margin: -.4rem 0 0 0; }
        .gonature-about-text-lb__dot:first-child {
          left: 25%; }
        .gonature-about-text-lb__dot:last-child {
          left: 65%; }
    .gonature-about-text-txt {
      padding: 0 20%;
      margin-bottom: 35rem; }
      @media (max-width: 75em) {
        .gonature-about-text-txt > h1 {
          font-size: 4rem; } }
      @media (max-width: 56.25em) {
        .gonature-about-text-txt > h1 {
          font-size: 5rem; } }
      @media (max-width: 37.5em) {
        .gonature-about-text-txt > h1 {
          font-size: 6rem; } }
      .gonature-about-text-txt-highlight {
        color: #ff4e58; }

.icon-basic-lightbulb {
  color: #F0FFF0;
  font-size: 2.5rem;
  text-decoration: none; }

.idea-text {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .idea-text-heading {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #F0FFF0;
    display: block; }
  .idea-text-btn {
    text-decoration: none;
    display: block; }

/* Text-Box in projects*/
.text-box {
  position: absolute;
  top: 65%;
  left: 65%; }
  @media (max-width: 75em) {
    .text-box {
      transform: translate(-50%, -50%); } }
  @media (max-width: 56.25em) {
    .text-box .heading-primary-main {
      font-size: 6rem; } }
  @media (max-width: 37.5em) {
    .text-box {
      display: none; } }

/* Project text box */
.project-box {
  position: absolute;
  top: 40%;
  left: 30%;
  display: inline-block;
  transform: translate(-50%, -50%);
  text-align: center; }
  @media (max-width: 75em) {
    .project-box {
      top: 30%;
      left: 20%;
      transform: translate(-20%, -50%); } }
  @media (max-width: 56.25em) {
    .project-box {
      left: 20%;
      width: 100%; } }
  @media (max-width: 37.5em) {
    .project-box {
      top: 50%;
      left: 50%; } }

.project {
  display: inline-block;
  margin-left: 2rem;
  padding: 2rem;
  width: 22rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .project {
      margin-left: 1rem;
      padding: 1rem;
      display: block; } }
  .project:not(:first-child) {
    border-left: 3px solid rgba(240, 255, 240, 0.8); }
  .project-icon {
    font-size: 4rem; }
    @media (max-width: 75em) {
      .project-icon {
        font-size: 3rem; } }
    @media (max-width: 56.25em) {
      .project-icon {
        font-size: 2rem; } }
    @media (max-width: 37.5em) {
      .project-icon {
        font-size: 3rem; } }
  .project .project-time,
  .project .project-price {
    font-weight: bold;
    letter-spacing: 0; }
  .project .project-time {
    margin-top: 1.5rem; }
  .project .project-span {
    display: block;
    font-size: 2rem; }
    @media (max-width: 75em) {
      .project .project-span {
        font-size: 1.5rem; } }
    @media (max-width: 37.5em) {
      .project .project-span {
        font-size: 2.5rem; } }
    .project .project-span:nth-last-child(2) {
      margin-bottom: 4rem; }

.project-irri {
  background-color: rgba(240, 255, 240, 0.7);
  color: #333333;
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%); }

.nav-plan-irri {
  border-top: 3px solid #03853f;
  position: relative;
  text-align: center;
  /* Avoid collapsing float */ }
  .nav-plan-irri::after {
    content: "";
    clear: both;
    display: table; }
  .nav-plan-irri:hover {
    color: coral; }

.project-more-info {
  font-size: 1rem; }

.icon-irri {
  float: right; }

.irri,
.icon-basic-gear {
  color: #03853f; }

.icon-basic-paperplane {
  position: relative;
  font-size: 2rem; }
  .icon-basic-paperplane:hover {
    color: #ff7730; }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/contact.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(168, 48, 48, 0.2);
  opacity: .8; }
  .contact-form {
    width: 50%;
    padding: 6rem;
    color: #333333; }
    @media (max-width: 56.25em) {
      .contact-form {
        width: 70%; } }
    @media (max-width: 37.5em) {
      .contact-form {
        width: 100%; } }
  @media (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 50%), url("../img/contact.jpg"); } }
  @media (max-width: 37.5em) {
    .contact {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), transparent 50%); } }

.form__group {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: "Noto Serif", serif;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #03853f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }

.icon-contact {
  font-size: 3rem;
  color: #03853f;
  font-weight: bold; }

/* LOGO */
/* Parent is the header --> set header to relative */
.logo-box {
  position: absolute;
  top: 5rem;
  left: 4rem;
  backface-visibility: hidden;
  z-index: 10; }
  @media (max-width: 75em) {
    .logo-box {
      top: 2rem; } }
  @media (max-width: 56.25em) {
    .logo-box {
      top: 2rem; } }
  @media (max-width: 37.5em) {
    .logo-box {
      top: 1rem;
      left: 2rem; } }
  .logo-box .logo {
    height: 7rem;
    position: fixed; }
    @media (max-width: 75em) {
      .logo-box .logo {
        height: 12rem; } }
    @media (max-width: 56.25em) {
      .logo-box .logo {
        height: 14rem; } }
    @media (max-width: 37.5em) {
      .logo-box .logo {
        height: 16rem; } }
    .logo-box .logo:hover {
      /* Animation with Logo */
      animation: movingLogo 1s ease-out; }

.navigation {
  transition: all .4s; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transition-delay: .2s;
    opacity: 1;
    width: 100vw; }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100vw;
    opacity: 1; }
  .navigation__background {
    background-image: url(../img/navigation.jpg);
    z-index: 1000;
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__item {
    margin: 1rem; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-100%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__link {
    width: 100%; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      color: #F0FFF0;
      font-size: 2.5rem;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s; }
    .navigation__link:hover {
      transform: translateY(-2px);
      border-radius: 5rem;
      box-shadow: 0 -2px 10px 0 #02ac51, 0 0 20px 2px #03853f;
      border: 3px solid #03853f;
      color: #06ed02; }
    .navigation__link:active {
      transform: translateY(-1px);
      box-shadow: 0 -1px 5px 0 #02ac51, 0 0 10px 2px #03853f;
      color: #06ed02; }
  .navigation__button {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__button:hover {
    box-shadow: 0 0 1rem 0 #00d7c3 inset, 0 0 2rem 2px #00d7c3;
    border: 3px solid #00d7c3; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__icon {
    position: relative;
    margin-top: 3.2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 3px;
      background-color: #74d14c;
      display: inline-block; }
      @media (max-width: 75em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 4rem;
          height: 4px; } }
      @media (max-width: 56.25em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 5rem;
          height: 5px; } }
      @media (max-width: 37.5em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 5rem;
          height: 5px; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
      @media (max-width: 75em) {
        .navigation__icon::before {
          top: -1rem; } }
      @media (max-width: 56.25em) {
        .navigation__icon::before {
          top: -1.2rem; } }
      @media (max-width: 56.25em) {
        .navigation__icon::before {
          top: -1.4rem; } }
    .navigation__icon::after {
      top: .8rem; }
      @media (max-width: 75em) {
        .navigation__icon::after {
          top: 1rem; } }
      @media (max-width: 56.25em) {
        .navigation__icon::after {
          top: 1.2rem; } }
      @media (max-width: 56.25em) {
        .navigation__icon::after {
          top: 1.4rem; } }

.footer-info-box {
  margin: 0 10rem 10rem 10rem; }

.footer-logo-box {
  text-align: center; }

.footer-navigation {
  border-top: 1px solid #F0FFF0;
  padding-top: 1.5rem;
  display: inline-block;
  width: 30%; }

.footer-list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.footer__item {
  display: inline-block; }

.footer__link:link, .footer__link:visited {
  color: #74d14c;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s; }

.footer__link:hover, .footer__link:active {
  color: #F0FFF0; }

.footer-info__copyright {
  border-top: 1px solid #F0FFF0;
  padding-top: 1.5rem;
  width: 30%;
  float: right;
  word-wrap: break-word;
  text-align: justify; }

.bg-video {
  background-image: url(../img/first-header.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh; }

.section-about {
  height: 100vh; }
  @media (max-width: 75em) {
    .section-about {
      height: 90vh; } }
  @media (max-width: 56.25em) {
    .section-about {
      height: 80vh; } }
  @media (max-width: 37.5em) {
    .section-about {
      height: 70vh; } }

.section-projects {
  position: relative;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  text-align: center; }
  @media (max-width: 75em) {
    .section-projects {
      height: 100vh; } }
  @media (max-width: 56.25em) {
    .section-projects {
      height: 90vh; } }
  @media (max-width: 37.5em) {
    .section-projects {
      height: 80vh; } }

.section-contact {
  background-image: url(../img/contact_bg.jpg);
  background-size: cover;
  padding: 15rem 10rem;
  display: block; }
