@mixin style-btn-hover($col-spec) {
  //navigation
  transform: translateY(-2px);
  border-radius: 5rem;
  box-shadow: 0 -2px 10px 0 $primary-color, 0 0 20px 2px $dark-primary-color;
  border: 3px solid $dark-primary-color;
  color: $col-spec;
}

@mixin style-btn-active($col) {
  transform: translateY(-1px);
  box-shadow: 0 -1px 5px 0 $primary-color, 0 0 10px 2px $dark-primary-color;
  color: $col;
  //navigation
}

//Media query
/*
0 - 600: Phone, max-width: 600/16 = 37.5em
600-900: Tablet Portrait
900-1200: Tablet Landscape 
1200 - 1800: normal style 
1800+: big desktop
*/
// @mixin respond_phone {
//   @media (max-width: 600px) {
//     font-size: 50%;
//   }
// }

/*
$breakpoint argument choices 
-phone
-tab-port 
-tab-land
-big-desktop
*/
//by rem and em wont affect the root font size 
//em is the best option for media query 
//1em = 16px 

@mixin respond($breakpoint) {
  @if $breakpoint==phone {

    //max-width: 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {

    //max-width: 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {

    //max-width: 1200px
    @media (max-width: 84.375em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {

    //>1200
    @media (min-width: 112.5em) {
      @content;
    }
  }
}