$primary-color: #02ac51;
$dark-primary-color:#03853f;
$secondary-color: #00d7c3;
$tertiary-color: #06ed02;
$color-leave-bright: #74d14c;
$color-leave-dark: #419a1c;
$color-white: #F0FFF0;
$color-green-text:#F0FFF0;

$dark-text: #333333;

$color-background: #def2ff;
$color-warning:#ff7730;
//$color-background:#e1dbcf;
$color-footer-bg: #031C0D;