/* LOGO */
/* Parent is the header --> set header to relative */
.logo-box {
  position: absolute;
  top: 5rem;
  left: 4rem;
  backface-visibility: hidden;
  z-index: 10;

  .logo {
    height: 7rem;
    position: fixed;

    &:hover {
      /* Animation with Logo */
      animation: movingLogo 1s ease-out;
    }
  }
}