/* Button  */
/* before and after are the same style */
.btn {
  font-family: "Noto Serif",
    serif;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;

  &:link,
  &:visited {
    padding: 1rem;
    display: inline-block;
    /* Using transition to point out which property */
    transition: all 0.2s ease-in-out;
  }

  &-transparent {
    animation: moveInUp 1.5s ease-out 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 .5rem 0 $secondary-color inset,
        0 0 1rem 2px $secondary-color;
      border: 3px solid $secondary-color;
      border-radius: 5rem;
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0 1rem 0 $secondary-color inset,
        0 0 2rem 2px $secondary-color;
      border: 3px solid $secondary-color;
      border-radius: 5rem;
    }
  }

  &-submit {
    animation: moveInUp 1.5s ease-out 0.3s;
    padding: 1rem;
    color: $color-white;
    background-color: $primary-color;
    // box-shadow: 0 0 1rem 0 $secondary-color inset,
    //   0 0 2rem 2px $secondary-color;
    border: 3px solid $primary-color;
    border-radius: 5rem;

  }

  &-create-idea {
    color: $dark-text;
    text-decoration: none;
    font-size: 2.5rem;
    color: $color-green-text;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    @include respond(tab-port) {
      font-size: 6rem;
    }

    &:hover &-icon {
      color: $secondary-color;
    }

    &:hover {
      color: $secondary-color;
    }
  }
}