body {
  font-family: "Noto Serif",
    serif;
  font-weight: 400;
  /* Unitless values: use this number multiplied
by the element's font size */
  line-height: 1.7;
  color: $color-white;
}

/* Heading 1 - Header */
.heading-primary {
  color: $color-white;
  /* Avoid shaking */
  backface-visibility: hidden;

  &-main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    /* animation name */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /* Delay the animation */
    animation-delay: 0.3s;
    /* how animation displays */
    animation-timing-function: ease-out;

    @include respond(tab-land) {
      font-size: 5rem;
      line-height: 1.3;
    }

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &-sub {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0;
    animation: moveInUp 1.5s ease-out 0.3s;
    text-align: justify;

    @include respond(phone) {
      font-size: 2rem;
    }

  }
}