.section-about {
  height: 100vh;

  @include respond(tab-land) {
    height: 90vh;
  }

  @include respond(tab-port) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 70vh;
  }
}

.section-projects {
  position: relative;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;

  @include respond(tab-land) {
    height: 100vh;
  }

  @include respond(tab-port) {
    height: 90vh;
  }

  @include respond(phone) {
    height: 80vh;
  }


}

.section-contact {
  background-image: url(../img/contact_bg.jpg);
  background-size: cover;
  padding: 15rem 10rem;
  display: block;
}